# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/

# Testing
/coverage

# Next.js
/.next/
/out/
/.turbo

# Production build
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS files
.DS_Store
Thumbs.db

# Certificates
*.pem

# Ignore entire Categories folder
Categories/